<div>
  <main class="px-4 py-6 md:px-6 lg:py-12 flex flex-wrap justify-center">
    <% @articles.each do |article| %>
      <%= render "card", article: article %>
    <% end %>
  </main>
  <footer class="h-24 flex items-center justify-center text-gray-600">
    © 2023 RailsOfThoughts
  </footer>
</div>
