<main class="container mx-auto px-4 md:px-6 lg:px-8 py-8">
  <article class="prose prose-lg max-w-none mx-auto lg:max-w-3xl">
    <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl lg:leading-[3.5rem]">
      <%= @article.title %>
    </h1>
    <div class="flex justify-between">
      <div class="text-gray-500">
        Posted on <%= @article.created_at.strftime("%B %d, %Y") %> by
        <a class="underline text-blue-600" href="https://github.com/danielDz21/" target="_blank">
          Daniel Silva
        </a>
      </div>
      <div class="text-gray-500">
        <%= @article.read_time %> min read
      </div>
    </div>
    <p>
      <%= @article.content %>
    </p>
  </article>
</main>
