<footer class="flex justify-center py-4 px-6 bg-white shadow-md">
  <div class="flex items-center space-x-2">
    <a class="text-gray-600 font-semibold underline" href="#">
      About
    </a>
    <a class="text-gray-600 font-semibold underline" href="#">
      Contact
    </a>
    <a class="text-gray-600 font-semibold underline" href="#">
      Privacy
    </a>
  </div>
</footer>
