<main class="container mx-auto px-4 md:px-6 lg:px-8 py-8">
  <article class="prose prose-lg max-w-none mx-auto lg:max-w-3xl">
    <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl lg:leading-[3.5rem]">
      About this project
    </h1>
    <p class="text-gray-500">
      Created at January 9, 2024, by
      <a class="underline text-blue-600" href="https://github.com/danielDz21/" target="_blank">
        Daniel Silva
      </a>
    </p>
    <p>
      &emsp;Hello there! This is a simple project that I made to learn more about Rails
      and also every step in creating a web application from scratch
      (if you can call it "from scratch" while using a framework).
      But what I mean is the whole process of creating a web application, from the idea to the deployment...
      And also the maintenance of it.
      <br>
      &emsp;The main aim of this project - aside from the previously mentioned motivations -
      is to create a simple blog where I can share my thoughts (hence the name) about the programming world.
      I believe that this is a good way to learn more about my career, and also help me to improve my writing skills,
      which is very important - be able to communicate with others in a clear and concise way - in most careers.
      <br>
      &emsp;I'm a Brazilian programmer, and I entered the world of programming in 2021, so I'm still a beginner.
      Currently working with Ruby on Rails as the main technology, but I'm also using many others (React, Typescript, GraphQL, etc).
      <br>
      <br>
      Note: I'm not a native English speaker, so please, be patient with my mistakes.
      I'm trying to improve my English skills, and I believe that this is a good way to do it.
      Also, if you discover any mistakes, please let me know. I'll be very grateful.
      You can find ways to contact me in my <a href="https://github.com/DanielDz21" target="_blank">github profile</a>.
    </p>
  </article>
</main>
